*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    height: 100%;
    margin: auto;

    display: grid;
    place-items: center;
}

header {
    width: 100%;
    text-align: center;
    padding: 2em;
}

main,
.container {
    width: 100%;
}

.todo-head {
    display: flex;
    background-color: salmon;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.todo-head textarea,
.add-button {
    margin: 0 1em;
}

.todo-head .add-button {
    padding: 0.4em 1.6em;
}
